<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consulta</title>
</head>
<body>
    <h2>Consulta</h2>
    <a href="/">Ir al formulario</a>

    {% if album %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Álbum</th>
                <th>Artista</th>
                <th>Año</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.titulo }}</td>
                <td>{{ album.artista }}</td>
                <td>{{ album.año }}</td>
                <td><a href="{{ url_for('form_update', id=album.id) }}">Actualizar</a></td>
                <td><a href="{{ url_for('confirmar_eliminacion', id=album.id) }}">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
    {% else %}
        <p>No se encontró el álbum solicitado.</p>
    {% endif %}

    <br><a href="/">Regresar al formulario</a>
</body>
</html>
